
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: 'General sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #403E3F;
}

img {
    max-width: 100%;
}

video {
    width: 100%;
    max-width: 1440px;
}

.universal-wrapper {
    padding: 120px 0;
}

.spacing-content {
    margin-top: 72px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-wrapper {
    padding: 0;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.20) 100%);
    backdrop-filter: blur(20px);
    position: fixed;
    width: 100%;

}
.header-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 24px 0;
    border-bottom: 1px solid hsl(348, 33%, 97%, .4);


}

ol {
    list-style-type: none;
}
.navlinks {
    display: flex;
    gap: 24px;
    align-items: center;
}

.navlinks li a {
    font: normal 300 18px/.5 Satoshi;
    color: #BDACB0;
    padding: 12px;
    border-radius: 32px;
}

.navlinks li a:hover {
    background-color: #2DBDBD;
    color: #FAF5F6;
}

h1 {
    font: normal 400 80px/120% Satoshi;
}

.hero-content p {
    font: normal 300 20px/160% 'General sans';
    color: #A39598;
    margin: 16px 0 24px 0;
}

button {
    color: #2DBDBD;
    background-color: transparent;
    text-decoration: underline;
    font: normal 500 20px/1.8 'General sans';
}

.hero-content {
    margin-bottom: 104px;
}


.social-proof div {
    display: flex;
    align-items: center;
    gap: 16px;
}
.social-proof strong {
    font: normal 400 64px/1.4 Satoshi; 
}

.social-proof p {
    font: normal 300 18px/1.8 'General sans';
    color: #B0A2A5;
    white-space: normal;
}

.social-proof {
    display: flex;
    justify-content: space-around;
    padding-top: 96px;
    gap: 5em;
}


.section-heading {
    font: normal 400 48px/1.3 Satoshi;
}

.services {
    background-color: #262424;
    color: #C9B9BD;
}

.services-container > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.service > p {
    font: normal 300 20px/1.5 Satoshi;
    color: #E3D5D9;
    margin-top: 16px;
}

.service em {
    font-size: 14px;
    color: #B0A2A5;
}

.container header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project {
    background-color: #FAF5F6;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px 20px; 
}

.project-name {
    font: normal 400 32px Satoshi;
}

.project-tag {
    padding: 4px 8px;
    background-color: #FAF5F6;
    font: normal 400 14px Satoshi;
    border-radius: 20px;
    background-color: white;
}

.tag-wrapper {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.project-details {
    margin-top: 16px;
}

.project-image {
    background-size: cover;
    height: 320px;
    background-position: 50% 50%;
}

.testimonials {
    display: grid;
    column-gap: 20px;
    row-gap: 48px;
    grid-template-areas: 
    "one one two"
    "three four five"
}

.testimonial {
    font: normal 500 20px/1.6 Satoshi;
    margin-bottom: 28px;
}

.tCards {
    padding: 20px;
    display: grid;
}

.tname {
    margin-top: auto;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five
}

.two, .four, .five {
    background-color: #FAF5F6;
}

.one {
    background-color: #403E3F;
    color: #f0e7ea;

    .tname {
        color: white;
    }
}


.processes {
    padding: 32px;
}

.process-one {
    background-image: url("https://s3-alpha-sig.figma.com/img/90c0/2d74/2add1c03cb780f4bb39bb72dfd87e0b4?Expires=1694390400&Signature=ZcexiWRJaC3X6fN2PIq2Get2TNRLyY7OB3kjkNLnwSFsXm-8G9g8xxtQNBFASi0RTMIHNLVR86JUe9WMC07fKWqpfyZlIQ7zXBjcRMdnPOuz~rI3wwJaogECw0lr4AQ15i2StVqFHWuYvSFsCEPuYxQOIc0KU7QemtCGCtGZC2k595YI-wzZ~R5LuErjUoeeChhl~b-832GLP~YWvzaYaNOYwGU2Gss6JOoBehvvGFFcFOqmC5FEevsNrlvoL9zUiTTlbXUBvaNKW7buKHyuzz72-p4vw~SFFfIyyzKerNbjNI5KY1zHRtqIjAyeY3pmW7zhLAqrEWQsqkatwxXmtg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.process-two {
    background-image: url("https://s3-alpha-sig.figma.com/img/891c/7bab/f5599b19b3461ee6ceb0b0dc11c834e3?Expires=1694390400&Signature=bmzvgueJjuIhrbmSFGE90zv1~S6Q6pGgzcUBSStT0camJ4j-sLB2vjArQ57gMwo69NzeFqVhihqrsIo-cOJBE0YFudVVIwFg9rz5~ENWi3gRtIYU06i8qgJlPk-JWvhUC3LoF4NvJRabC6Etd16UQlXdNEsUkjG3Vq-vnDK0RBO-4C1DSfaUksH~jJkHYytd7InqG4GKf25W3x0NmPWIvtI9tmmVUgRQGJ~pRe4JGSHtbBwXnYBQc-SXYl0i2DftT7mAZo23bhBdaXnyHo1dTsdWIflzq8dWLokxjFL0G56rKYgA7r0eugv2Xv-ORoLxpPNwD4qoIwyTzWsYtkbciw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.process-three {
    background-image: url("https://s3-alpha-sig.figma.com/img/31c4/0fe8/29b65bd980cdc02674f074c0a95d8003?Expires=1694390400&Signature=OGSZlGnTNvVzta9xWbXs3AQa3Eug8JKqxODJhWJ9EZlEoQ85M5Jn1r0fKnsAEL4zqTM97XCPgahkUnH6SuPkGbz~4WUq9i4Ot8ifQdDW-~jy96j45MJbB1H2-7o0CK7aPxxdGQjRlu68Kp27kMTjE1MdwDjUYg1AOv0SqeWKPdREOOxY~D5X7-euonyFV58-gwFa75zDHrzp01HfKB9f-QkxasEuPIUYIXsvfHDAKkEZlnYtHJiVmsv5R1CmOVfh8ca64hf5SZbki8qHWUCtPEanhOjSzyHGqNqtCS8EU-yRUEHdvwo7NzbDMlIFaumJMi1eaESmpJTdfSFnIDKmTg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

.process-four {
    background-image: url("https://s3-alpha-sig.figma.com/img/1184/c433/a97de5c9054fc93f06e4d8587c4f5c5a?Expires=1694390400&Signature=R2cjL8SjjQ9rTYOFo81aHWTmKBVotdfINP~CCHYdOGZzCKubSQSuhQngF7-2fY5Ecj3wBjlSZpK-rTyGVD-JFyEKE7vjihxACSmPu9uzuxQQyp0jyjPFLpLcGqIPxi3rXPjQmawntD3tCREi5aj5w6GzAPkZwiVu6jnb--pYVikL08WN-n8D21D7kHSBGoUl9sZwLgV2vaK2hL~8JXAyqYpX8Z32WXzxilxZqwrHWw5VmGqYgFmvqcZ7bRCYoe1h2A5AYWMlqbnX-XBNs4WFBdnAkLLxm2VMZ0NQSQURRLLr~OCVCpa4SYLAiOKioXWvlF8IA8iZDD7M36N7m-9Oow__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}




/* For medium devices, tablets and small laptops 991px downward */
@media only screen and (max-width: 991px) {

}

/* small devices, landscape tablet and large phone 767 downward */
@media only screen and (max-width: 767px) {

}

/* For extra small devices, mobile phones 480 downward */
@media only screen and (max-width: 480px) {
    
}